{% load static %}

<header class="shadow px-2">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'posts' %}"><img class="img-fluid" src="{% static 'img/logo.png' %}" alt=""
                width="150px"></a>

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts' %}"><i data-feather="home" color="black"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'new_post' %}"><i data-feather="plus-square" color="black"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i data-feather="heart" color="black"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'update_profile' %}"><img class="rounded-circle"
                        src="{% if user.profile.picture %} {{ user.profile.picture.url }} {% else %} {% static 'img/default_user.jpg' %} {% endif %}"
                        alt="" width="30px"></a>
            </li>
        </ul>
    </nav>
</header>