{% load static %}

<header class="shadow px-2">

    <nav class="row navbar navbar-light bg-light">
        <a class="col-5" href="{% url 'posts:posts' %}"><img class="img-fluid" src="{% static 'img/logo.png' %}" alt=""
                width="150px"></a>

        <ul class="nav col-7 justify-content-end pr-0">
            <li class="nav-item">
                <a class="nav-link px-2" href="{% url 'posts:posts' %}"><i data-feather="home" color="black"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="{% url 'posts:new_post' %}"><i data-feather="plus-square" color="black"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="{% url 'users:logout' %}"><i data-feather="log-out" color="black"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-1" href="{% url 'users:detail' request.user.username %}"><img class="rounded-circle"
                        src="{% if request.user.profile.picture %} {{ request.user.profile.picture.url }} {% else %} {% static 'img/default_user.jpg' %} {% endif %}"
                        alt="" width="30px"></a>
            </li>
        </ul>
    </nav>
</header>