{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block container %}
{% load static %}
<div class="full-h row d-flex justify-content-center align-items-center">
    <div class="col-6">
        <img class="img-fluid " src="{% static 'img/pets.png' %}" alt="">
    </div>
    <div class="col-6 d-flex flex-column align-items-center">
        <div class="card shadow-lg align-items-center">
            <img class="my-5 " src="{% static 'img/logo.png' %}" alt="" width="200px">
            {% if error %}
            <div class="w-75 alert alert-danger alert-dismissible fade show" role="alert">
                <strong>😔</strong> {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <form class="w-75 mb-5" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sing In</button>
            </form>
        </div>
        <div class="card p-3 my-3 text-center shadow-lg">
            <span>¿No tienes una cuenta aun? <a class="text-decoration-none" href="">Registrate.</a> </span>
        </div>
        <img src="{% static 'img/download.png' %}" alt="" width="350px">
    </div>
</div>
{% endblock container %}