{% extends 'base.html' %}

{% block title %}{{ user.get_full_name }}{% endblock title %}

{% load static %}

{% block container %}
<form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card m-auto p-4 shadow-lg w-forms">
        <div class="info media">
            <img class="rounded-circle"
                src="{% if user.profile.picture %} {{ user.profile.picture.url }} {% else %} {% static 'img/default_user.jpg' %} {% endif %}"
                alt="" width="60px">
            <div class="media-body ml-4">
                <h1 class="h5">@{{ user.username|title }} | {{ user.get_full_name }}</h1>
                <div class="form-group">
                    <input type="file" class="form-control-file" name="picture">
                </div>
            </div>
        </div>
        <hr>
        <div class="form-row w-100">
            <div class="col-md-6 col-sm-12 my-1">
                <input type="text" class="form-control {% if form.website.errors %} is-invalid {% endif %}"
                    placeholder="First name" name="first_name"
                    value="{% if form.errors %}{{ form.first_name.value }}{% else %}{{ user.first_name }}{% endif %}">
                <div class="invalid-feedback">
                    {% for error in form.first_name.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12 my-1">
                <input type="text" class="form-control {% if form.website.errors %} is-invalid {% endif %}"
                    placeholder="Last name" name="last_name"
                    value="{% if form.errors %}{{ form.last_name.value }}{% else %}{{ user.last_name }}{% endif %}">
                <div class="invalid-feedback">
                    {% for error in form.last_name.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 form-group mt-3">
                <input class="form-control {% if form.website.errors %} is-invalid {% endif %}" type="text"
                    placeholder="Website" name="website"
                    value="{% if form.errors %}{{ form.website.value }}{% else %}{{ user.profile.website }}{% endif %}">
                <div class="invalid-feedback">
                    {% for error in form.website.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 form-group">
                <textarea class="form-control {% if form.biography.errors %} is-invalid {% endif %}"
                    placeholder="Bio" name="biography"
                    rows="3">{% if form.errors %}{{ form.biography.value }}{% else %}{{ user.profile.biography }}{% endif %}</textarea>
                <div class="invalid-feedback">
                    {% for error in form.biography.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 form-group">
                <input class="form-control {% if form.phone_number.errors %} is-invalid {% endif %}" type="text"
                    placeholder="Phone" name="phone_number"
                    value="{% if form.errors %}{{ form.phone_number.value }}{% else %}{{ user.profile.phone_number }}{% endif %}">
                <div class="invalid-feedback">
                    {% for error in form.phone_number.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Save</button>
    </div>
</form>
{% endblock container %}